/* Media Module CSS for Dashboard */
#media_gallery form { border-radius:5px; margin:0 0 8px 0; }
	#media_gallery label { display:block; padding:0 0 7px 5px; }
	#media_gallery [type=submit] { margin:-4px 12px 0 3px; height:25px; font-size:12px; border-radius:7px; float:right; }
	#media_gallery .selector { float:right;}
	#media_gallery .uploader { float:right; margin:0 10px 0 0; }

#media_gallery.images li.media_item { float:left; display:block; text-align:center; width:125px; min-height:125px; margin:14px 12px 0 12px; }
	#media_gallery.images ul img { width:125px; height:125px; display:block; margin:0 0 5px 0; }

#media_gallery ul.media_actions { margin: 0; padding: 0px; position: relative; bottom: 5px; right: 5px; list-style: none; visibility: hidden ; }
#media_gallery li.media_item:hover ul.media_actions { visibility: visible; }
#media_gallery ul.media_actions li			{ float: left; margin: 6px 0px 0px 0px; padding:0 0 0 8px; }
#media_gallery ul.media_actions li:first-child {float:right; padding:0 8px 0 0;}
#media_gallery ul.media_actions li a { color: #999999; font-size: 12px; }
#media_gallery ul.media_actions li a:visited { color: #999999; font-size: 12px; }
#media_gallery ul.media_actions li a:hover { color: #2078ce; font-size: 12px; }
#media_gallery li p {margin:0;color:#666;text-shadow:#fff 1px 1px 1px;}

#media_gallery span.actions:first-child {}
#media_gallery span.actions {top:-2px}

#media_gallery .cancel {display:inline}

#media_gallery .being_sorted { padding: 1px 0; border-radius: 15px; background:#f2e3af;}

#media_gallery .inline_tip {
	position:absolute;
	background:#000;
	color:#fff;
	padding:5px;
	font-size:10px;
	opacity:0.8;
	text-shadow:none;
	display:none;
	border-radius:5px
}

#quick_upload {float:right;width:400px;top:-7px;position:relative;}

#file_uploadUploader {float:right}

#gallery_title { width: 450px; }

#gallery_descriptions {float:left;width:430px;position:absolute;}
	#gallery_descriptions h3{ margin:0; }
	#gallery_descriptions p{ margin:5px 0 0 0; color:#666; text-shadow:#fff 1px 1px 1px; }
	
#fancybox-outer .editify {position:absolute;bottom:0;}